@import url('./base.less');
.tb-picker {
    position: relative;
    display: inline-block;
    line-height: normal;
    font-size: 12px;
    min-width: 50px;
    width: 100%;
}

.tb-picker-rel {
    position: relative;
}

.tb-input,.tb-select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 30px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 12px;
    border: @b_d1;
    .borderRadius(3px);
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    outline: 0;
    &.on-err {
        border-color: @dark_red !important;
    }
    &.disabled{
        background-color: @goast_gray;
        cursor: no-drop;
    }
}

.tb-select{
    position: relative;
    cursor: pointer;
    line-height: 22px;
    text-align: left;
    .iconfont{
        position: absolute;
        right: 5px;
        top: 3px;
        font-size: 20px;
    }
}
.tb-textarea{
    display: inline-block;
    vertical-align: text-top;
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 12px;
    border: @b_d1;
    .borderRadius(3px);
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    outline: 0;
    resize: none;
    &.on-err {
        border-color: @dark_red !important;
    }
    &.disabled{
        background-color: @goast_gray;
        cursor: no-drop;
    }
}

.tb-input:focus,
.tb-input:hover,.tb-select:hover {
    border-color: @hover_blue;
}


.tb-picker-panel {
    position: absolute;
    width: 420px;
    overflow: auto;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    .borderRadius;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    z-index: 900;
    font-size: 12px;

    &.left{
        left: 0
    }

    &.right{
        right: 0;
    }

    &.search-mode {
        width: 250px;
        padding: 0;
        .tinking-content {
            .item {
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                cursor: pointer;
                color: @f_dark;
                .ellipsis;
                &:hover {
                    background-color: @dark_blue;
                    color: #fff;
                }
                &.err {
                    color: @dark_red;
                    background-color: @goast_red;
                }
            }
        }
    }
    .tips {
        width: 100%;
        height: 30px;
        color: @f_goast;
    }
    .tb-picker-tab {
        width: 100%;
        height: 30px;
        line-height: 30px;
        .tab-item {
            display: inline-block;
            height: 30px;
            border-bottom: 2px solid #fff;
            margin-right: 10px;
            color: @f_goast;
            cursor: pointer;
            &.active {
                color: @f_dark;
                border-color: @dark_blue;
            }
        }
    }
    .tb-picker-contnet {
        border-top: @b_d1;
        min-height: 30px;
        .item {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin: 5px 0;
            cursor: pointer;
            color: @f_dark;
            &:hover {
                color: #fff;
                background-color: @dark_blue;
            }
        }
    }
}



.select-content{
    position: absolute;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 900;
    font-size: 12px;
    text-align: left;
    .item{
        width: 100%;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        &:hover{
            color: @mask_blue;
        }
    }
}