@import url('./base.less');
.resource-container{
    padding-bottom: 20px;
}
.list-table-container{
    width: 100%;
    .table-tr{
        width: 100%;
        height: 48px;
        line-height: 48px;
        border-bottom: @b_d1;
        color: @f_dark;
        &.table-head{
            color: @f_ligth;
        }
        .padding-wrap{
            padding: 0 20px;
        }
        .table-td{
            display: inline-block;
            height: 100%;
            // text-align: center;
            .ellipsis;
            &.ckeck-box{
                width: 18px;
                .iconfont{
                    color: @back_gray;
                    font-size: 18px;
                    cursor: pointer;
                    vertical-align: sub;
                    background-color: @goast_gray;
                    &:hover {
                        color: @light_blue;
                    }
                    &.icon-check-box{
                        color: @light_blue;
                    }
                }    
            }
            &:last-child{
                margin:0;
            }

            .action{
                position: relative;
                display: inline-block;
                width: 30px;
                height: 20px;
                line-height: 0;
                font-size: 30px;
                top:5px;
                cursor: pointer;
            }

            .action-btns{
                .item{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover{
                        color: @light_blue;
                    }
                }
            }
        }
    }
}